COVID - 19 PROJECT

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\Olowoselu\Documents\Bluetooth Exchange Folder\country_wise_latest.csv')
data

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
7,Armenia,37390,711,26665,10014,73,6,187,1.90,71.32,2.67,34981,2409,6.89,Europe
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific
9,Austria,20558,713,18246,1599,86,1,37,3.47,88.75,3.91,19743,815,4.13,Europe
10,Azerbaijan,30446,423,23242,6781,396,6,558,1.39,76.34,1.82,27890,2556,9.16,Europe
11,Bahamas,382,11,91,280,40,0,0,2.88,23.82,12.09,174,208,119.54,Americas
12,Bahrain,39482,141,36110,3231,351,1,421,0.36,91.46,0.39,36936,2546,6.89,Eastern Mediterranean
13,Bangladesh,226225,2965,125683,97577,2772,37,1801,1.31,55.56,2.36,207453,18772,9.05,South-East Asia
14,Barbados,110,7,94,9,0,0,0,6.36,85.45,7.45,106,4,3.77,Americas
15,Belarus,67251,538,60492,6221,119,4,67,0.80,89.95,0.89,66213,1038,1.57,Europe
16,Belgium,66428,9822,17452,39154,402,1,14,14.79,26.27,56.28,64094,2334,3.64,Europe
17,Belize,48,2,26,20,0,0,0,4.17,54.17,7.69,40,8,20.00,Americas
18,Benin,1770,35,1036,699,0,0,0,1.98,58.53,3.38,1602,168,10.49,Africa
19,Bhutan,99,0,86,13,4,0,1,0.00,86.87,0.00,90,9,10.00,South-East Asia
20,Bolivia,71181,2647,21478,47056,1752,64,309,3.72,30.17,12.32,60991,10190,16.71,Americas
21,Bosnia and Herzegovina,10498,294,4930,5274,731,14,375,2.80,46.96,5.96,8479,2019,23.81,Europe
22,Botswana,739,2,63,674,53,1,11,0.27,8.53,3.17,522,217,41.57,Africa
23,Brazil,2442375,87618,1846641,508116,23284,614,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas
24,Brunei,141,3,138,0,0,0,0,2.13,97.87,2.17,141,0,0.00,Western Pacific
25,Bulgaria,10621,347,5585,4689,194,7,230,3.27,52.58,6.21,8929,1692,18.95,Europe
26,Burkina Faso,1100,53,926,121,14,0,6,4.82,84.18,5.72,1065,35,3.29,Africa
27,Burma,350,6,292,52,0,0,2,1.71,83.43,2.05,341,9,2.64,South-East Asia
28,Burundi,378,1,301,76,17,0,22,0.26,79.63,0.33,322,56,17.39,Africa
29,Cabo Verde,2328,22,1550,756,21,0,103,0.95,66.58,1.42,2071,257,12.41,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,Spain,272421,28432,150376,93613,0,0,0,10.44,55.20,18.91,264836,7585,2.86,Europe
158,Sri Lanka,2805,11,2121,673,23,0,15,0.39,75.61,0.52,2730,75,2.75,South-East Asia
159,Sudan,11424,720,5939,4765,39,3,49,6.30,51.99,12.12,10992,432,3.93,Eastern Mediterranean
160,Suriname,1483,24,925,534,44,1,35,1.62,62.37,2.59,1079,404,37.44,Americas
161,Sweden,79395,5700,0,73695,398,3,0,7.18,0.00,inf,78048,1347,1.73,Europe
162,Switzerland,34477,1978,30900,1599,65,1,200,5.74,89.62,6.40,33634,843,2.51,Europe
163,Syria,674,40,0,634,24,2,0,5.93,0.00,inf,522,152,29.12,Eastern Mediterranean
164,Taiwan*,462,7,440,15,4,0,0,1.52,95.24,1.59,451,11,2.44,Western Pacific
165,Tajikistan,7235,60,6028,1147,43,1,58,0.83,83.32,1.00,6921,314,4.54,Europe
166,Tanzania,509,21,183,305,0,0,0,4.13,35.95,11.48,509,0,0.00,Africa
167,Thailand,3297,58,3111,128,6,0,2,1.76,94.36,1.86,3250,47,1.45,South-East Asia
168,Timor-Leste,24,0,0,24,0,0,0,0.00,0.00,0.00,24,0,0.00,South-East Asia
169,Togo,874,18,607,249,6,0,8,2.06,69.45,2.97,783,91,11.62,Africa
170,Trinidad and Tobago,148,8,128,12,1,0,0,5.41,86.49,6.25,137,11,8.03,Americas
171,Tunisia,1455,50,1157,248,3,0,15,3.44,79.52,4.32,1381,74,5.36,Eastern Mediterranean
172,Turkey,227019,5630,210469,10920,919,17,982,2.48,92.71,2.67,220572,6447,2.92,Europe
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas
174,Uganda,1128,2,986,140,13,0,4,0.18,87.41,0.20,1069,59,5.52,Africa
175,Ukraine,67096,1636,37202,28258,835,11,317,2.44,55.45,4.40,60767,6329,10.42,Europe
176,United Arab Emirates,59177,345,52510,6322,264,1,328,0.58,88.73,0.66,57193,1984,3.47,Eastern Mediterranean
177,United Kingdom,301708,45844,1437,254427,688,7,3,15.19,0.48,3190.26,296944,4764,1.60,Europe
178,Uruguay,1202,35,951,216,10,1,3,2.91,79.12,3.68,1064,138,12.97,Americas
179,Uzbekistan,21209,121,11674,9414,678,5,569,0.57,55.04,1.04,17149,4060,23.67,Europe
180,Venezuela,15988,146,9959,5883,525,4,213,0.91,62.29,1.47,12334,3654,29.63,Americas
181,Vietnam,431,0,365,66,11,0,0,0.00,84.69,0.00,384,47,12.24,Western Pacific
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [3]:
data.shape

(187, 15)

In [4]:
data.info

<bound method DataFrame.info of              Country/Region  Confirmed  Deaths  Recovered   Active  New cases  \
0               Afghanistan      36263    1269      25198     9796        106
1                   Albania       4880     144       2745     1991        117
2                   Algeria      27973    1163      18837     7973        616
3                   Andorra        907      52        803       52         10
4                    Angola        950      41        242      667         18
5       Antigua and Barbuda         86       3         65       18          4
6                 Argentina     167416    3059      72575    91782       4890
7                   Armenia      37390     711      26665    10014         73
8                 Australia      15303     167       9311     5825        368
9                   Austria      20558     713      18246     1599         86
10               Azerbaijan      30446     423      23242     6781        396
11                  Bahamas        382      11         91      280         40
12                  Bahrain      39482     141      36110     3231        351
13               Bangladesh     226225    2965     125683    97577       2772
14                 Barbados        110       7         94        9          0
15                  Belarus      67251     538      60492     6221        119
16                  Belgium      66428    9822      17452    39154        402
17                   Belize         48       2         26       20          0
18                    Benin       1770      35       1036      699          0
19                   Bhutan         99       0         86       13          4
20                  Bolivia      71181    2647      21478    47056       1752
21   Bosnia and Herzegovina      10498     294       4930     5274        731
22                 Botswana        739       2         63      674         53
23                   Brazil    2442375   87618    1846641   508116      23284
24                   Brunei        141       3        138        0          0
25                 Bulgaria      10621     347       5585     4689        194
26             Burkina Faso       1100      53        926      121         14
27                    Burma        350       6        292       52          0
28                  Burundi        378       1        301       76         17
29               Cabo Verde       2328      22       1550      756         21
..                      ...        ...     ...        ...      ...        ...
157                   Spain     272421   28432     150376    93613          0
158               Sri Lanka       2805      11       2121      673         23
159                   Sudan      11424     720       5939     4765         39
160                Suriname       1483      24        925      534         44
161                  Sweden      79395    5700          0    73695        398
162             Switzerland      34477    1978      30900     1599         65
163                   Syria        674      40          0      634         24
164                 Taiwan*        462       7        440       15          4
165              Tajikistan       7235      60       6028     1147         43
166                Tanzania        509      21        183      305          0
167                Thailand       3297      58       3111      128          6
168             Timor-Leste         24       0          0       24          0
169                    Togo        874      18        607      249          6
170     Trinidad and Tobago        148       8        128       12          1
171                 Tunisia       1455      50       1157      248          3
172                  Turkey     227019    5630     210469    10920        919
173                      US    4290259  148011    1325804  2816444      56336
174                  Uganda       1128       2        986      140         13
175                 Ukraine      67096    1636      37202    28258        835
176    United Arab Emirates      59177     345      52510     6322        264
177          United Kingdom     301708   45844       1437   254427        688
178                 Uruguay       1202      35        951      216         10
179              Uzbekistan      21209     121      11674     9414        678
180               Venezuela      15988     146       9959     5883        525
181                 Vietnam        431       0        365       66         11
182      West Bank and Gaza      10621      78       3752     6791        152
183          Western Sahara         10       1          8        1          0
184                   Yemen       1691     483        833      375         10
185                  Zambia       4552     140       2815     1597         71
186                Zimbabwe       2704      36        542     2126        192

     New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
0            10             18                3.50                  69.49
1             6             63                2.95                  56.25
2             8            749                4.16                  67.34
3             0              0                5.73                  88.53
4             1              0                4.32                  25.47
5             0              5                3.49                  75.58
6           120           2057                1.83                  43.35
7             6            187                1.90                  71.32
8             6            137                1.09                  60.84
9             1             37                3.47                  88.75
10            6            558                1.39                  76.34
11            0              0                2.88                  23.82
12            1            421                0.36                  91.46
13           37           1801                1.31                  55.56
14            0              0                6.36                  85.45
15            4             67                0.80                  89.95
16            1             14               14.79                  26.27
17            0              0                4.17                  54.17
18            0              0                1.98                  58.53
19            0              1                0.00                  86.87
20           64            309                3.72                  30.17
21           14            375                2.80                  46.96
22            1             11                0.27                   8.53
23          614          33728                3.59                  75.61
24            0              0                2.13                  97.87
25            7            230                3.27                  52.58
26            0              6                4.82                  84.18
27            0              2                1.71                  83.43
28            0             22                0.26                  79.63
29            0            103                0.95                  66.58
..          ...            ...                 ...                    ...
157           0              0               10.44                  55.20
158           0             15                0.39                  75.61
159           3             49                6.30                  51.99
160           1             35                1.62                  62.37
161           3              0                7.18                   0.00
162           1            200                5.74                  89.62
163           2              0                5.93                   0.00
164           0              0                1.52                  95.24
165           1             58                0.83                  83.32
166           0              0                4.13                  35.95
167           0              2                1.76                  94.36
168           0              0                0.00                   0.00
169           0              8                2.06                  69.45
170           0              0                5.41                  86.49
171           0             15                3.44                  79.52
172          17            982                2.48                  92.71
173        1076          27941                3.45                  30.90
174           0              4                0.18                  87.41
175          11            317                2.44                  55.45
176           1            328                0.58                  88.73
177           7              3               15.19                   0.48
178           1              3                2.91                  79.12
179           5            569                0.57                  55.04
180           4            213                0.91                  62.29
181           0              0                0.00                  84.69
182           2              0                0.73                  35.33
183           0              0               10.00                  80.00
184           4             36               28.56                  49.26
185           1            465                3.08                  61.84
186           2             24                1.33                  20.04

     Deaths / 100 Recovered  Confirmed last week  1 week change  \
0                      5.04                35526            737
1                      5.25                 4171            709
2                      6.17                23691           4282
3                      6.48                  884             23
4                     16.94                  749            201
5                      4.62                   76             10
6                      4.21               130774          36642
7                      2.67                34981           2409
8                      1.79                12428           2875
9                      3.91                19743            815
10                     1.82                27890           2556
11                    12.09                  174            208
12                     0.39                36936           2546
13                     2.36               207453          18772
14                     7.45                  106              4
15                     0.89                66213           1038
16                    56.28                64094           2334
17                     7.69                   40              8
18                     3.38                 1602            168
19                     0.00                   90              9
20                    12.32                60991          10190
21                     5.96                 8479           2019
22                     3.17                  522            217
23                     4.74              2118646         323729
24                     2.17                  141              0
25                     6.21                 8929           1692
26                     5.72                 1065             35
27                     2.05                  341              9
28                     0.33                  322             56
29                     1.42                 2071            257
..                      ...                  ...            ...
157                   18.91               264836           7585
158                    0.52                 2730             75
159                   12.12                10992            432
160                    2.59                 1079            404
161                     inf                78048           1347
162                    6.40                33634            843
163                     inf                  522            152
164                    1.59                  451             11
165                    1.00                 6921            314
166                   11.48                  509              0
167                    1.86                 3250             47
168                    0.00                   24              0
169                    2.97                  783             91
170                    6.25                  137             11
171                    4.32                 1381             74
172                    2.67               220572           6447
173                   11.16              3834677         455582
174                    0.20                 1069             59
175                    4.40                60767           6329
176                    0.66                57193           1984
177                 3190.26               296944           4764
178                    3.68                 1064            138
179                    1.04                17149           4060
180                    1.47                12334           3654
181                    0.00                  384             47
182                    2.08                 8916           1705
183                   12.50                   10              0
184                   57.98                 1619             72
185                    4.97                 3326           1226
186                    6.64                 1713            991

     1 week % increase             WHO Region
0                 2.07  Eastern Mediterranean
1                17.00                 Europe
2                18.07                 Africa
3                 2.60                 Europe
4                26.84                 Africa
5                13.16               Americas
6                28.02               Americas
7                 6.89                 Europe
8                23.13        Western Pacific
9                 4.13                 Europe
10                9.16                 Europe
11              119.54               Americas
12                6.89  Eastern Mediterranean
13                9.05        South-East Asia
14                3.77               Americas
15                1.57                 Europe
16                3.64                 Europe
17               20.00               Americas
18               10.49                 Africa
19               10.00        South-East Asia
20               16.71               Americas
21               23.81                 Europe
22               41.57                 Africa
23               15.28               Americas
24                0.00        Western Pacific
25               18.95                 Europe
26                3.29                 Africa
27                2.64        South-East Asia
28               17.39                 Africa
29               12.41                 Africa
..                 ...                    ...
157               2.86                 Europe
158               2.75        South-East Asia
159               3.93  Eastern Mediterranean
160              37.44               Americas
161               1.73                 Europe
162               2.51                 Europe
163              29.12  Eastern Mediterranean
164               2.44        Western Pacific
165               4.54                 Europe
166               0.00                 Africa
167               1.45        South-East Asia
168               0.00        South-East Asia
169              11.62                 Africa
170               8.03               Americas
171               5.36  Eastern Mediterranean
172               2.92                 Europe
173              11.88               Americas
174               5.52                 Africa
175              10.42                 Europe
176               3.47  Eastern Mediterranean
177               1.60                 Europe
178              12.97               Americas
179              23.67                 Europe
180              29.63               Americas
181              12.24        Western Pacific
182              19.12  Eastern Mediterranean
183               0.00                 Africa
184               4.45  Eastern Mediterranean
185              36.86                 Africa
186              57.85                 Africa

[187 rows x 15 columns]>

In [5]:
data.isnull().sum()

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

In [6]:
data.count()

Country/Region            187
Confirmed                 187
Deaths                    187
Recovered                 187
Active                    187
New cases                 187
New deaths                187
New recovered             187
Deaths / 100 Cases        187
Recovered / 100 Cases     187
Deaths / 100 Recovered    187
Confirmed last week       187
1 week change             187
1 week % increase         187
WHO Region                187
dtype: int64

In [7]:
#to drop the unwanted columns
data.drop(columns = ['1 week change', '1 week % increase', 'Confirmed last week', 'Deaths / 100 Recovered', 'Deaths / 100 Cases', 'Recovered / 100 Cases', 'New recovered', 'New deaths', 'Active', 'New cases'], inplace = True)

In [8]:
data.head()

  Country/Region  Confirmed  Deaths  Recovered             WHO Region
0    Afghanistan      36263    1269      25198  Eastern Mediterranean
1        Albania       4880     144       2745                 Europe
2        Algeria      27973    1163      18837                 Africa
3        Andorra        907      52        803                 Europe
4         Angola        950      41        242                 Africa

In [9]:
data.count()

Country/Region    187
Confirmed         187
Deaths            187
Recovered         187
WHO Region        187
dtype: int64

# Show the number of comfirmed, Deaths and Recovered cases in each Region

In [10]:
data.rename(columns = {'Country/Region':'Region'}, inplace = True)

In [11]:
data.head()

        Region  Confirmed  Deaths  Recovered             WHO Region
0  Afghanistan      36263    1269      25198  Eastern Mediterranean
1      Albania       4880     144       2745                 Europe
2      Algeria      27973    1163      18837                 Africa
3      Andorra        907      52        803                 Europe
4       Angola        950      41        242                 Africa

In [12]:
data.groupby('Region').sum().head()

             Confirmed  Deaths  Recovered
Region
Afghanistan      36263    1269      25198
Albania           4880     144       2745
Algeria          27973    1163      18837
Andorra            907      52        803
Angola             950      41        242

In [13]:
data.groupby('Region')['Confirmed'].sum().sort_values(ascending = False).head(10)

Region
US                4290259
Brazil            2442375
India             1480073
Russia             816680
South Africa       452529
Mexico             395489
Peru               389717
Chile              347923
United Kingdom     301708
Iran               293606
Name: Confirmed, dtype: int64

In [14]:
data.groupby('Region')['Deaths'].sum().sort_values(ascending = False).head(10)

Region
US                148011
Brazil             87618
United Kingdom     45844
Mexico             44022
Italy              35112
India              33408
France             30212
Spain              28432
Peru               18418
Iran               15912
Name: Deaths, dtype: int64

In [15]:
data.groupby('Region')['Recovered'].sum().sort_values(ascending = False).head(10)

Region
Brazil          1846641
US              1325804
India            951166
Russia           602249
Chile            319954
Mexico           303810
South Africa     274925
Peru             272547
Iran             255144
Pakistan         241026
Name: Recovered, dtype: int64

In [16]:
data.groupby('Region')['Confirmed','Recovered'].sum().head()

             Confirmed  Recovered
Region
Afghanistan      36263      25198
Albania           4880       2745
Algeria          27973      18837
Andorra            907        803
Angola             950        242

# Remove all the records where confirmed cases is less than 10

In [17]:
data = data[~(data.Confirmed < 10)]
data.head()

        Region  Confirmed  Deaths  Recovered             WHO Region
0  Afghanistan      36263    1269      25198  Eastern Mediterranean
1      Albania       4880     144       2745                 Europe
2      Algeria      27973    1163      18837                 Africa
3      Andorra        907      52        803                 Europe
4       Angola        950      41        242                 Africa

# In which Region maximum number of comfirmed cases were recorded

In [18]:
data.groupby('Region')['Confirmed'].sum().sort_values(ascending = False).head()

Region
US              4290259
Brazil          2442375
India           1480073
Russia           816680
South Africa     452529
Name: Confirmed, dtype: int64

# In which Region Minimum number of Deaths were recorded

In [19]:
data.groupby('Region')['Deaths'].sum().sort_values().head(20)

Region
Fiji                                0
Holy See                            0
Grenada                             0
Laos                                0
Greenland                           0
Cambodia                            0
Vietnam                             0
Bhutan                              0
Timor-Leste                         0
Mongolia                            0
Dominica                            0
Saint Vincent and the Grenadines    0
Saint Lucia                         0
Papua New Guinea                    0
Eritrea                             0
Saint Kitts and Nevis               0
Seychelles                          0
Western Sahara                      1
Liechtenstein                       1
Burundi                             1
Name: Deaths, dtype: int64

# How many Confirmed, Deaths and Recovered cases were reported in India?

In [20]:
data.groupby(data['Region']=='India').sum()

        Confirmed  Deaths  Recovered
Region
False    15000412  620628    8516921
True      1480073   33408     951166

In [21]:
data[data['Region'] == 'India']

   Region  Confirmed  Deaths  Recovered       WHO Region
79  India    1480073   33408     951166  South-East Asia

# Sort the entire data wrt No. of Comfirmed cases in ascending order.

In [22]:
data.sort_values(by = ['Confirmed'], ascending = True).head(10)

                    Region  Confirmed  Deaths  Recovered       WHO Region
183         Western Sahara         10       1          8           Africa
75                Holy See         12       0         12           Europe
68               Greenland         14       0         13           Europe
140  Saint Kitts and Nevis         17       0         15         Americas
49                Dominica         18       0         18         Americas
94                    Laos         20       0         19  Western Pacific
69                 Grenada         23       0         23         Americas
168            Timor-Leste         24       0          0  South-East Asia
141            Saint Lucia         24       0         22         Americas
59                    Fiji         27       0         18  Western Pacific

# Sort the entire data wrt No. of Recovered cases in descending order

In [23]:
data.sort_values(by = 'Recovered', ascending = False)

,Region,Confirmed,Deaths,Recovered,WHO Region
23,Brazil,2442375,87618,1846641,Americas
173,US,4290259,148011,1325804,Americas
79,India,1480073,33408,951166,South-East Asia
138,Russia,816680,13334,602249,Europe
35,Chile,347923,9187,319954,Americas
111,Mexico,395489,44022,303810,Americas
154,South Africa,452529,7067,274925,Africa
132,Peru,389717,18418,272547,Americas
81,Iran,293606,15912,255144,Eastern Mediterranean
128,Pakistan,274289,5842,241026,Eastern Mediterranean
145,Saudi Arabia,268934,2760,222936,Eastern Mediterranean
172,Turkey,227019,5630,210469,Europe
85,Italy,246286,35112,198593,Europe
65,Germany,207112,9125,190314,Europe
157,Spain,272421,28432,150376,Europe
37,Colombia,257101,8777,131161,Americas
13,Bangladesh,226225,2965,125683,South-East Asia
136,Qatar,109597,165,106328,Eastern Mediterranean
61,France,220352,30212,81212,Europe
36,China,86783,4656,78869,Western Pacific
82,Iraq,112585,4458,77144,Eastern Mediterranean
6,Argentina,167416,3059,72575,Americas
15,Belarus,67251,538,60492,Europe
80,Indonesia,100303,4838,58173,South-East Asia
127,Oman,77058,393,57028,Eastern Mediterranean
92,Kuwait,64379,438,55057,Eastern Mediterranean
89,Kazakhstan,84648,585,54404,Europe
176,United Arab Emirates,59177,345,52510,Eastern Mediterranean
150,Singapore,50838,27,45692,Western Pacific
175,Ukraine,67096,1636,37202,Europe
...,...,...,...,...,...
170,Trinidad and Tobago,148,8,128,Americas
97,Lesotho,505,12,128,Africa
113,Monaco,116,4,104,Europe
118,Namibia,1843,8,101,Africa
14,Barbados,110,7,94,Americas
11,Bahamas,382,11,91,Americas
19,Bhutan,99,0,86,South-East Asia
100,Liechtenstein,86,1,81,Europe
63,Gambia,326,8,66,Africa
5,Antigua and Barbuda,86,3,65,Americas
22,Botswana,739,2,63,Africa
148,Seychelles,114,0,39,Africa
142,Saint Vincent and the Grenadines,52,0,39,Americas
17,Belize,48,2,26,Americas
69,Grenada,23,0,23,Americas
141,Saint Lucia,24,0,22,Americas
94,Laos,20,0,19,Western Pacific
59,Fiji,27,0,18,Western Pacific
49,Dominica,18,0,18,Americas
140,Saint Kitts and Nevis,17,0,15,Americas
68,Greenland,14,0,13,Europe
75,Holy See,12,0,12,Europe
130,Papua New Guinea,62,0,11,Western Pacific
183,Western Sahara,10,1,8,Africa
117,Mozambique,1701,11,0,Africa
32,Canada,116458,8944,0,Americas
168,Timor-Leste,24,0,0,South-East Asia
147,Serbia,24141,543,0,Europe
163,Syria,674,40,0,Eastern Mediterranean
161,Sweden,79395,5700,0,Europe